apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-agent
  labels:
    app: ai-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-agent
  template:
    metadata:
      labels:
        app: ai-agent
    spec:
      containers:
        - name: ai-agent
          image: ayushi172007/ai-agent:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 8000
          env:
            - name: TELEGRAM_TOKEN
              valueFrom:
                secretKeyRef:
                  name: ai-secrets
                  key: TELEGRAM_TOKEN
            - name: TELEGRAM_CHAT_ID
              valueFrom:
                secretKeyRef:
                  name: ai-secrets
                  key: TELEGRAM_CHAT_ID
            - name: GEMINI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: ai-secrets
                  key: GEMINI_API_KEY